<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Prdouct</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-['helvetica_now_display']  text-black h-screen w-full">

      <nav class="pt-10 px-5 tracking-tighter flex justify-between w-full items-center">
        <h1 class="text-3xl ml-5">Admin Panel.</h1>
        <div class="right flex gap-20 mr-20">
            <div class="first flex gap-5">
                <a class= "text-lg" href="">Home</a>
                <a class= "text-lg" href="">Products</a>
            </div>
            <div class="second flex gap-5">
                <a class="text-lg" href="">My account</a>
            </div>
        </div>
      </nav>
      <div class="line w-full h-0.5 bg-stone-500 mt-2"></div>
      
      <div class="container flex w-full h-5/6">
         
        <div class="sidebar w-1/6 h-5/6  mt-4 ml-5 pt-5 px-5 flex flex-col items-start justify-between " >
           
            <div class="portion flex flex-col items-start gap-10 ">
                <div class="">
                    <a class=" text-lg block text-stone-600" href="">All Products</a>
                    <a class=" text-lg block text-stone-600" href="">Color Palate</a>
                
                </div>
            </div>  
            <div>
                <a class=" text-lg block text-stone-600" href="/owner/logout">logout</a>
            </div>
      </div>

      <div class="w-full ">
        <h1 class="text-3xl mt-9 block tracking-tighter">Create New Product</h1>
        <div class="line  w-5/6 h-0.5 bg-stone-300 mt-2"></div>
        <h1 class="text-2xl mt-3 block tracking-tighter mb-5 ml-5">Product Details</h1>
      
        <form action="/product/create" method="post" enctype="multipart/form-data" class="ml-5">   
            <p class="inline-block text-xl mr-4 mb-5">Product Image</p>
            <label for="image" class="bg-green-400 py-2 px-3 w-1/6 hover:text-stone-200 text-white text-lg mb-5 rounded-2xl ">Select File</label>
            <input name="image" id="image"  type="file" autocomplete="off" placeholder="Full Name" class="hidden" >
            <input name="name" type="text" autocomplete="off" placeholder="Product Name" class="bg-stone-200 block  p-2 w-96 text-xl mb-4 outline-none rounded-md border-none" >
            <input name="price" type="text" autocomplete="off" placeholder="Product Price" class="bg-stone-200 mr-10  p-2 w-40 text-xl mb-4 outline-none rounded-md border-none" >
            <input name="discount" type="text" autocomplete="off" placeholder="Discount Price" class="bg-stone-200  p-2 w-40 text-xl mb-4 outline-none rounded-md border-none" >
            <h1 class="text-2xl mt-3 block tracking-tighter mb-5">Panel Details</h1>
            <input name="bgcolor" type="text" autocomplete="off" placeholder="Backround Color" class="bg-stone-200 mr-3  p-2 w-40 text-xl mb-4 outline-none rounded-md border-none" >
            <input name="panelcolor" type="text" autocomplete="off" placeholder="Panel Color" class="bg-stone-200  p-2 w-40 text-xl mb-4 outline-none rounded-md border-none" >
            <input name="textcolor" type="text" autocomplete="off" placeholder="Text Color" class="bg-stone-200 block  p-2 w-40 text-xl mb-4 outline-none rounded-md border-none" >
            <button  class="bg-green-400 py-2 px-20 hover:text-stone-200 text-white text-xl mb-5 rounded-2xl tracking-wider font-bold">Create</button>
        </form>

      </div>
      </div>
      

      

          <script>
            const formupload = document.querySelector("form input[type='file']"); 
            const textdata = document.querySelector('form label')
            formupload.addEventListener('change',  function(item){
                
                  textdata.innerHTML = item.target.files[0].name ;
            })
          </script>
</body>
</html>